body {
    background-color: rgb(226, 226, 226);
}
.app{
    text-align: center;

    .todo__box{
        margin:  0 auto;
    }
}
.app__title{
    font-size: 50px;
    color: rgb(151, 161, 55);
    text-transform: uppercase;
    margin: 50px auto;
}
// todo list global style
.bg-mixin {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.todo__box {
    text-align: left;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0px 0px 19px 0px rgba(34, 60, 80, 0.2);
    border-radius: 6px;
    overflow: hidden;
    input,
    button,
    div {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    button {
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: none;
    }
}

// input component style
.input__box {
    width: 100%;
    display: flex;

    .check-all {
        width: 40px;
        background-image: url(../public/delete.svg);
        .bg-mixin();
        opacity: 0.3;
        transition: .3s;
    }
    .check-all-actived{
        opacity: 1;
    }

    .input {
        flex-grow: 1;
        padding: 20px 5px;
        outline: none;
        border: none;
    }
}
// list component style
.list{
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}

// item component style
.item {
    display: flex;
    align-items: center;
    padding: 10px 4px !important;
    position: relative;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 20px;
    
    &:hover>.item-delete{
        opacity: 0.5;
    }

    .checkbox{
        background-color: rgb(231, 231, 231);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        .bg-mixin();
        cursor: pointer;
    }
    .item__text{
        width: 400px;
        word-wrap: break-word;
        transition: opacity .2s;
    }
    .item-delete{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        right: 5px;
        .bg-mixin();
        background-image: url(../public/arrow.svg);
        opacity: 0;
        transition: .2s;

        &:hover{
            opacity: 1;
            transform-origin: center center;
            transform: rotateZ(30deg);
            cursor: pointer;
        }
    }

}

.setting {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 0px !important;
    color: rgb(149, 149, 149);

    .counter{
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
    }

    .setting-button {
        cursor: pointer;
        margin: 0px 6px;
        padding: 6px 8px;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: border .2s;
        color: rgb(149, 149, 149);
        font-weight: 600;

        &:hover{
            border: 1px solid rgb(255, 168, 168);
        }
    }
    .setting-active{
        background-color: rgb(255, 102, 102);
        border: 1px solid rgb(255, 102, 102);
        color: #fff;
        &:hover{
            border: 1px solid rgb(255, 102, 102);
        }
    }
    
}